#cloudpickle==1.4.1  # Fixes bug with type hints for Python 3.6
coloredlogs
dm-tree
GPUtil==1.4.0
gym[atari]
lz4
numpy
pandas
pillow
pytest
ray[tune]
sortedcontainers
tensorboardX
tensorflow==2.4.0
tensorflow-probability==0.12.0
xvfbwrapper
